In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [2]:
s1 = Series(np.random.randn(10))

In [3]:
s1

0    0.145017
1    0.182858
2   -0.649468
3   -0.165391
4    1.355672
5    1.333846
6    0.342386
7   -0.787904
8    0.732089
9   -0.595397
dtype: float64

In [4]:
s1.values

array([ 0.1450173 ,  0.18285799, -0.64946845, -0.16539065,  1.35567227,
        1.33384574,  0.3423859 , -0.78790428,  0.73208906, -0.59539661])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
s2 = s1.sort_values()

In [11]:
s2

7   -0.787904
2   -0.649468
9   -0.595397
3   -0.165391
0    0.145017
1    0.182858
6    0.342386
8    0.732089
5    1.333846
4    1.355672
dtype: float64

In [8]:
s2 = s1.sort_values(ascending=False)

In [9]:
s2

4    1.355672
5    1.333846
8    0.732089
6    0.342386
1    0.182858
0    0.145017
3   -0.165391
9   -0.595397
2   -0.649468
7   -0.787904
dtype: float64

In [12]:
s2.sort_index()

0    0.145017
1    0.182858
2   -0.649468
3   -0.165391
4    1.355672
5    1.333846
6    0.342386
7   -0.787904
8    0.732089
9   -0.595397
dtype: float64

# DataFrame的排序

In [13]:
df1 = DataFrame(np.random.randn(40).reshape(8,5))

In [14]:
df1

          0         1         2         3         4
0  1.427622 -0.313347 -0.401077  0.363040  1.187915
1  0.753678 -1.510032  0.742717 -0.251979  1.602793
2  1.734003  0.890887  0.733801  0.008739 -1.212342
3 -0.742840 -0.164781 -0.080455 -0.482947  0.263102
4  0.548417 -1.243848 -1.728020  0.234596  0.138310
5  0.076361  0.075856  1.398403 -0.132447 -0.547680
6 -0.798882 -1.014104  1.236369 -1.047799  0.774176
7 -1.316347 -0.355952 -0.511179  0.146640  0.994751

In [15]:
df1 = DataFrame(np.random.randn(40).reshape(8,5),columns=['A','B','C','D','E'])

In [16]:
df1

          A         B         C         D         E
0 -1.846262 -1.089930  1.252895  0.453198  1.038826
1 -2.010891 -0.124618  0.235885  0.204741  1.778833
2 -0.499083  1.823203  1.318216  0.067975 -1.791450
3 -0.149100 -0.373245 -0.010107  2.189845 -0.397331
4  1.153153 -0.509593  3.051108 -0.999314 -1.493428
5 -0.372352 -1.122202  0.953863 -0.069354  0.870794
6 -0.568754  0.482800 -1.037166 -0.843790 -0.818859
7  0.450936 -1.392031 -0.528270 -0.828590 -0.723836

In [17]:
df1['A'].sort_values()

1   -2.010891
0   -1.846262
6   -0.568754
2   -0.499083
5   -0.372352
3   -0.149100
7    0.450936
4    1.153153
Name: A, dtype: float64

In [18]:
df1.sort_values('A')

          A         B         C         D         E
1 -2.010891 -0.124618  0.235885  0.204741  1.778833
0 -1.846262 -1.089930  1.252895  0.453198  1.038826
6 -0.568754  0.482800 -1.037166 -0.843790 -0.818859
2 -0.499083  1.823203  1.318216  0.067975 -1.791450
5 -0.372352 -1.122202  0.953863 -0.069354  0.870794
3 -0.149100 -0.373245 -0.010107  2.189845 -0.397331
7  0.450936 -1.392031 -0.528270 -0.828590 -0.723836
4  1.153153 -0.509593  3.051108 -0.999314 -1.493428

In [19]:
df2 = df1.sort_values('A')

In [20]:
df2

          A         B         C         D         E
1 -2.010891 -0.124618  0.235885  0.204741  1.778833
0 -1.846262 -1.089930  1.252895  0.453198  1.038826
6 -0.568754  0.482800 -1.037166 -0.843790 -0.818859
2 -0.499083  1.823203  1.318216  0.067975 -1.791450
5 -0.372352 -1.122202  0.953863 -0.069354  0.870794
3 -0.149100 -0.373245 -0.010107  2.189845 -0.397331
7  0.450936 -1.392031 -0.528270 -0.828590 -0.723836
4  1.153153 -0.509593  3.051108 -0.999314 -1.493428

In [21]:
df2.sort_index()

          A         B         C         D         E
0 -1.846262 -1.089930  1.252895  0.453198  1.038826
1 -2.010891 -0.124618  0.235885  0.204741  1.778833
2 -0.499083  1.823203  1.318216  0.067975 -1.791450
3 -0.149100 -0.373245 -0.010107  2.189845 -0.397331
4  1.153153 -0.509593  3.051108 -0.999314 -1.493428
5 -0.372352 -1.122202  0.953863 -0.069354  0.870794
6 -0.568754  0.482800 -1.037166 -0.843790 -0.818859
7  0.450936 -1.392031 -0.528270 -0.828590 -0.723836

In [22]:
df1

          A         B         C         D         E
0 -1.846262 -1.089930  1.252895  0.453198  1.038826
1 -2.010891 -0.124618  0.235885  0.204741  1.778833
2 -0.499083  1.823203  1.318216  0.067975 -1.791450
3 -0.149100 -0.373245 -0.010107  2.189845 -0.397331
4  1.153153 -0.509593  3.051108 -0.999314 -1.493428
5 -0.372352 -1.122202  0.953863 -0.069354  0.870794
6 -0.568754  0.482800 -1.037166 -0.843790 -0.818859
7  0.450936 -1.392031 -0.528270 -0.828590 -0.723836