In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
t_range = pd.date_range('2017-01-01','2017-12-31')

In [4]:
df1 = DataFrame(index = t_range)

In [7]:
df1['x'] = np.random.randint(10,100,size=len(t_range))

In [8]:
df1

             x
2017-01-01  61
2017-01-02  76
2017-01-03  89
2017-01-04  66
2017-01-05  94
2017-01-06  79
2017-01-07  75
2017-01-08  33
2017-01-09  61
2017-01-10  57
2017-01-11  46
2017-01-12  18
2017-01-13  72
2017-01-14  57
2017-01-15  28
2017-01-16  76
2017-01-17  22
2017-01-18  31
2017-01-19  99
2017-01-20  49
2017-01-21  60
2017-01-22  43
2017-01-23  78
2017-01-24  81
2017-01-25  91
2017-01-26  29
2017-01-27  12
2017-01-28  40
2017-01-29  74
2017-01-30  78
...         ..
2017-12-02  74
2017-12-03  22
2017-12-04  25
2017-12-05  41
2017-12-06  57
2017-12-07  97
2017-12-08  48
2017-12-09  69
2017-12-10  27
2017-12-11  36
2017-12-12  81
2017-12-13  76
2017-12-14  92
2017-12-15  65
2017-12-16  80
2017-12-17  27
2017-12-18  85
2017-12-19  52
2017-12-20  22
2017-12-21  31
2017-12-22  18
2017-12-23  18
2017-12-24  37
2017-12-25  75
2017-12-26  11
2017-12-27  50
2017-12-28  30
2017-12-29  34
2017-12-30  10
2017-12-31  16

[365 rows x 1 columns]

In [10]:
df1.size

365

In [11]:
df1['x'].mean()

54.679452054794524

In [13]:
from streamz.dataframe import Random

In [15]:
s = Random(freq='100ms',interval='ls')

ValueError: unit abbreviation w/o a number