In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
score_list = np.random.randint(25,100,size=20)

In [4]:
score_list

array([49, 88, 31, 93, 60, 26, 38, 68, 96, 42, 28, 71, 78, 66, 83, 47, 28,
       34, 85, 67])

In [5]:
bins = [0,59,70,80,100]

In [7]:
pd.cut(score_list,bins)

[(0, 59], (80, 100], (0, 59], (80, 100], (59, 70], ..., (0, 59], (0, 59], (0, 59], (80, 100], (59, 70]]
Length: 20
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [8]:
score_cat = pd.cut(score_list,bins)

In [9]:
pd.value_counts(score_cat)

(0, 59]      9
(80, 100]    5
(59, 70]     4
(70, 80]     2
dtype: int64

In [10]:
df = DataFrame()

In [11]:
df['score'] = score_list

In [13]:
df['student'] = [pd.util.testing.rands(3) for i in range(20)]

In [15]:
pd.cut(df['score'],bins)

0       (0, 59]
1     (80, 100]
2       (0, 59]
3     (80, 100]
4      (59, 70]
5       (0, 59]
6       (0, 59]
7      (59, 70]
8     (80, 100]
9       (0, 59]
10      (0, 59]
11     (70, 80]
12     (70, 80]
13     (59, 70]
14    (80, 100]
15      (0, 59]
16      (0, 59]
17      (0, 59]
18    (80, 100]
19     (59, 70]
Name: score, dtype: category
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [16]:
df['Categories'] = pd.cut(df['score'],bins)

In [17]:
df

    score student Categories
0      49     NBm    (0, 59]
1      88     dUa  (80, 100]
2      31     DwK    (0, 59]
3      93     noK  (80, 100]
4      60     6rF   (59, 70]
5      26     w8q    (0, 59]
6      38     qmC    (0, 59]
7      68     ukS   (59, 70]
8      96     xE6  (80, 100]
9      42     O8A    (0, 59]
10     28     d2d    (0, 59]
11     71     teP   (70, 80]
12     78     AQo   (70, 80]
13     66     ih5   (59, 70]
14     83     TyN  (80, 100]
15     47     9kY    (0, 59]
16     28     PmM    (0, 59]
17     34     3Op    (0, 59]
18     85     lqk  (80, 100]
19     67     R5Q   (59, 70]

In [19]:
df['Categories'] = pd.cut(df['score'],bins,labels=['low','OK','Good','Great'])

In [20]:
df

    score student Categories
0      49     NBm        low
1      88     dUa      Great
2      31     DwK        low
3      93     noK      Great
4      60     6rF         OK
5      26     w8q        low
6      38     qmC        low
7      68     ukS         OK
8      96     xE6      Great
9      42     O8A        low
10     28     d2d        low
11     71     teP       Good
12     78     AQo       Good
13     66     ih5         OK
14     83     TyN      Great
15     47     9kY        low
16     28     PmM        low
17     34     3Op        low
18     85     lqk      Great
19     67     R5Q         OK