In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
!ls /Users/LING

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
df = pd.read_csv('/Users/LING/demo_duplicate.csv')

In [6]:
df.head()

   Unnamed: 0   Price  Seqno Symbol        time
0           0  1623.0    0.0   APPL  1473411962
1           1  1623.0    0.0   APPL  1473411962
2           2  1623.0    0.0   APPL  1473411963
3           3  1623.0    0.0   APPL  1473411963
4           4  1649.0    1.0   APPL  1473411963

In [11]:
del df['Unnamed: 0']

In [13]:
df.size

15956

In [14]:
df.size

15956

In [15]:
len(df)

3989

In [17]:
df['Seqno'].unique()

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       132., 133., 134., 135., 136., 137., 138., 139., 140., 141., 142.,
       143., 144., 145., 146., 147., 148., 149., 150., 151., 152., 153.,
       154., 155., 156., 157., 158., 159., 160., 161., 162., 163., 164.,
       165., 166., 167., 168., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 178., 179., 180., 181., 182., 183., 184., 185., 186.,
       187., 188., 189., 190., 191., 192., 193., 194., 195., 196., 197.,
       198., 199., 200., 201., 202., 203., 204., 205., 206., 207., 208.,
       209., 210., 211., 212., 213., 214., 215., 216., 217., 218., 219.,
       220., 221., 222., 223., 224., 225., 226., 227., 228., 229., 230.,
       231., 232., 233., 234., 235., 236., 237., 238., 239., 240., 241.,
       242., 243., 244., 245., 246., 247., 248., 249., 250., 251., 252.,
       253., 254., 255., 256., 257., 258., 259., 260., 261., 262., 263.,
       264., 265., 266., 267., 268., 269., 270., 271., 272., 273., 274.,
       275., 276., 277., 278., 279., 280., 281., 282., 283., 284., 285.,
       286., 287., 288., 289., 290., 291., 292., 293., 294., 295., 296.,
       297., 298., 299., 300., 301., 302., 303., 304., 305., 306., 307.,
       308., 309., 310., 311., 312., 313., 314., 315., 316., 317., 318.,
       319., 320., 321., 322., 323., 324., 325., 326., 327., 328., 329.,
       330., 331., 332., 333., 334., 335., 336., 337., 338., 339., 340.,
       341., 342., 343., 344., 345., 346., 347., 348., 349., 350., 351.,
       352., 353., 354., 355., 356., 357., 358., 359., 360., 361., 362.,
       363., 364., 365., 366., 367., 368., 369., 370., 371., 372., 373.,
       374., 375., 376., 377., 378., 379., 380., 381., 382., 383., 384.,
       385., 386., 387., 388., 389., 390., 391., 392., 393., 394., 395.,
       396., 397., 398., 399., 400., 401., 402., 403., 404., 405., 406.,
       407., 408., 409., 410., 411., 412., 413., 414., 415., 416., 417.,
       418., 419., 420., 421., 422., 423., 424., 425., 426., 427., 428.,
       429., 430., 431., 432., 433., 434., 435., 436., 437., 438., 439.,
       440., 441., 442., 443., 444., 445., 446., 447., 448., 449., 450.,
       451., 452., 453., 454., 455., 456., 457., 458., 459., 460., 461.,
       462., 463., 464., 465., 466., 467., 468., 469., 470., 471., 472.,
       473., 474., 475., 476., 477., 478., 479., 480., 481., 482., 483.,
       484., 485., 486., 487., 488., 489., 490., 491., 492., 493., 494.,
       495., 496., 497., 498., 499., 500., 501., 502., 503., 504., 505.,
       506., 507., 508., 509., 510., 511., 512., 513., 514., 515., 516.,
       517., 518., 519., 520., 521., 522., 523., 524., 525., 526., 527.,
       528., 529., 530., 531., 532., 533., 534., 535., 536., 537., 538.,
       539., 540., 541., 542., 543., 544., 545., 546., 547., 548., 549.,
       550., 551., 552., 553., 554., 555., 556., 557., 558., 559., 560.,
       561., 562., 563., 564., 565., 566., 567., 568., 569., 570., 571.,
       572., 573., 574., 575., 576., 577., 578., 579., 580., 581., 582.,
       583., 584., 585., 586., 587., 588., 589., 590., 591., 592., 593.,
       594., 595., 596., 597., 598., 599., 600., 601., 602., 603., 604.,
       605., 606., 607., 608., 609., 610., 611., 612., 613., 614., 615.,
       616., 617., 618., 619., 620., 621., 622., 623., 624., 625., 626.,
       627., 628., 629., 630., 631., 632., 633., 634., 635., 636., 637.,
       638., 639., 640., 641., 642., 643., 644., 645., 646., 647., 648.,
       649., 650., 651., 652., 653., 654., 655., 656., 657., 658., 659.,
       660., 661., 662., 663., 664., 665., 666., 667., 668., 669., 670.,
       671., 672., 673., 674., 675., 676., 677., 678., 679., 680., 681.,
       682., 683., 684., 685., 686., 687., 688., 689., 690., 691., 692.,
       693., 694., 695., 696., 697., 698., 699., 700., 701., 702., 703.,
       704., 705., 706., 707., 708., 709., 710., 711., 712., 713., 714.,
       715., 716., 717., 718., 719., 720., 721., 722., 723., 724., 725.,
       726., 727., 728., 729., 730., 731., 732., 733., 734., 735., 736.,
       737., 738., 739., 740., 741., 742., 743., 744., 745., 746., 747.,
       748., 749., 750., 751., 752., 753., 754., 755., 756., 757., 758.,
       759., 760., 761., 762., 763., 764., 765., 766., 767., 768., 769.,
       770., 771., 772., 773., 774., 775., 776., 777., 778., 779., 780.,
       781., 782., 783., 784., 785., 786., 787., 788., 789., 790., 791.,
       792., 793., 794., 795., 796., 797., 798., 799., 800., 801., 802.,
       803., 804., 805., 806., 807., 808., 809., 810., 811., 812., 813.,
       814., 815., 816., 817., 818., 819., 820., 821., 822., 823., 824.,
       825., 826., 827., 828., 829., 830., 831., 832., 833., 834., 835.,
       836., 837., 838., 839., 840., 841., 842., 843., 844., 845., 846.,
       847., 848., 849., 850., 851., 852., 853., 854., 855., 856., 857.,
       858., 859., 860., 861., 862., 863., 864., 865., 866., 867., 868.,
       869., 870., 871., 872., 873., 874., 875., 876., 877., 878., 879.,
       880., 881., 882., 883., 884., 885., 886., 887., 888., 889., 890.,
       891., 892., 893., 894., 895., 896., 897., 898., 899., 900., 901.,
       902., 903., 904., 905., 906., 907., 908., 909., 910., 911., 912.,
       913., 914., 915., 916., 917., 918., 919., 920., 921., 922., 923.,
       924., 925., 926., 927., 928., 929., 930., 931., 932., 933., 934.,
       935., 936., 937., 938., 939., 940., 941., 942., 943., 944., 945.,
       946., 947., 948., 949., 950., 951., 952., 953., 954., 955., 956.,
       957., 958., 959., 960., 961., 962., 963., 964., 965., 966., 967.,
       968., 969., 970., 971., 972., 973., 974., 975., 976., 977., 978.,
       979., 980., 981., 982., 983., 984., 985., 986., 987., 988., 989.,
       990., 991., 992., 993., 994., 995., 996., 997., 998., 999.])

In [18]:
len(df['Seqno'].unique())

1000

In [19]:
df.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [20]:
df['Seqno'].duplicated()

0       False
1        True
2        True
3        True
4       False
5        True
6        True
7        True
8       False
9        True
10       True
11       True
12      False
13       True
14       True
15       True
16      False
17       True
18       True
19       True
20      False
21       True
22       True
23       True
24      False
25       True
26       True
27       True
28      False
29       True
        ...
3959     True
3960     True
3961    False
3962     True
3963     True
3964     True
3965    False
3966     True
3967     True
3968     True
3969    False
3970     True
3971     True
3972     True
3973    False
3974     True
3975     True
3976     True
3977    False
3978     True
3979     True
3980     True
3981    False
3982     True
3983     True
3984     True
3985    False
3986     True
3987     True
3988     True
Name: Seqno, Length: 3989, dtype: bool

In [21]:
df['Seqno'].drop_duplicates()

0         0.0
4         1.0
8         2.0
12        3.0
16        4.0
20        5.0
24        6.0
28        7.0
32        8.0
36        9.0
40       10.0
44       11.0
48       12.0
52       13.0
56       14.0
60       15.0
64       16.0
68       17.0
72       18.0
76       19.0
80       20.0
84       21.0
88       22.0
92       23.0
96       24.0
100      25.0
104      26.0
108      27.0
112      28.0
116      29.0
        ...
3869    970.0
3873    971.0
3877    972.0
3881    973.0
3885    974.0
3889    975.0
3893    976.0
3897    977.0
3901    978.0
3905    979.0
3909    980.0
3913    981.0
3917    982.0
3921    983.0
3925    984.0
3929    985.0
3933    986.0
3937    987.0
3941    988.0
3945    989.0
3949    990.0
3953    991.0
3957    992.0
3961    993.0
3965    994.0
3969    995.0
3973    996.0
3977    997.0
3981    998.0
3985    999.0
Name: Seqno, Length: 1000, dtype: float64

In [22]:
type(df['Seqno'].drop_duplicates())

pandas.core.series.Series

In [23]:
df.drop_duplicates()

       Price  Seqno Symbol        time
0     1623.0    0.0   APPL  1473411962
2     1623.0    0.0   APPL  1473411963
4     1649.0    1.0   APPL  1473411963
6     1649.0    1.0   APPL  1473411964
8     1642.0    2.0   APPL  1473411964
10    1642.0    2.0   APPL  1473411965
12    1636.0    3.0   APPL  1473411965
14    1636.0    3.0   APPL  1473411966
16    1669.0    4.0   APPL  1473411966
18    1669.0    4.0   APPL  1473411967
20    1639.0    5.0   APPL  1473411967
22    1639.0    5.0   APPL  1473411968
24    1611.0    6.0   APPL  1473411968
26    1611.0    6.0   APPL  1473411969
28    1660.0    7.0   APPL  1473411969
31    1660.0    7.0   APPL  1473411970
32    1657.0    8.0   APPL  1473411970
34    1657.0    8.0   APPL  1473411971
36    1509.0    9.0   APPL  1473411971
38    1509.0    9.0   APPL  1473411972
40    1514.0   10.0   APPL  1473411972
43    1514.0   10.0   APPL  1473411973
44    1676.0   11.0   APPL  1473411973
46    1676.0   11.0   APPL  1473411974
48    1596.0   12.0   APPL  1473411974
51    1596.0   12.0   APPL  1473411975
52    1527.0   13.0   APPL  1473411975
56    1643.0   14.0   APPL  1473411976
60    1632.0   15.0   APPL  1473411977
64    1595.0   16.0   APPL  1473411978
...      ...    ...    ...         ...
3921  1546.0  983.0   APPL  1473412945
3925  1646.0  984.0   APPL  1473412946
3929  1648.0  985.0   APPL  1473412947
3932  1648.0  985.0   APPL  1473412948
3933  1647.0  986.0   APPL  1473412948
3935  1647.0  986.0   APPL  1473412949
3937  1602.0  987.0   APPL  1473412949
3939  1602.0  987.0   APPL  1473412950
3941  1562.0  988.0   APPL  1473412950
3944  1562.0  988.0   APPL  1473412951
3945  1629.0  989.0   APPL  1473412951
3949  1683.0  990.0   APPL  1473412952
3950  1683.0  990.0   APPL  1473412953
3953  1649.0  991.0   APPL  1473412953
3956  1649.0  991.0   APPL  1473412954
3957  1698.0  992.0   APPL  1473412954
3960  1698.0  992.0   APPL  1473412955
3961  1566.0  993.0   APPL  1473412955
3965  1597.0  994.0   APPL  1473412956
3967  1597.0  994.0   APPL  1473412957
3969  1641.0  995.0   APPL  1473412957
3972  1641.0  995.0   APPL  1473412958
3973  1581.0  996.0   APPL  1473412958
3975  1581.0  996.0   APPL  1473412959
3977  1674.0  997.0   APPL  1473412959
3979  1674.0  997.0   APPL  1473412960
3981  1680.0  998.0   APPL  1473412960
3983  1680.0  998.0   APPL  1473412961
3985  1509.0  999.0   APPL  1473412961
3988  1509.0  999.0   APPL  1473412962

[1737 rows x 4 columns]

In [24]:
df.drop_duplicates(['Seqno'])

       Price  Seqno Symbol        time
0     1623.0    0.0   APPL  1473411962
4     1649.0    1.0   APPL  1473411963
8     1642.0    2.0   APPL  1473411964
12    1636.0    3.0   APPL  1473411965
16    1669.0    4.0   APPL  1473411966
20    1639.0    5.0   APPL  1473411967
24    1611.0    6.0   APPL  1473411968
28    1660.0    7.0   APPL  1473411969
32    1657.0    8.0   APPL  1473411970
36    1509.0    9.0   APPL  1473411971
40    1514.0   10.0   APPL  1473411972
44    1676.0   11.0   APPL  1473411973
48    1596.0   12.0   APPL  1473411974
52    1527.0   13.0   APPL  1473411975
56    1643.0   14.0   APPL  1473411976
60    1632.0   15.0   APPL  1473411977
64    1595.0   16.0   APPL  1473411978
68    1565.0   17.0   APPL  1473411979
72    1521.0   18.0   APPL  1473411980
76    1501.0   19.0   APPL  1473411981
80    1579.0   20.0   APPL  1473411982
84    1511.0   21.0   APPL  1473411983
88    1513.0   22.0   APPL  1473411984
92    1687.0   23.0   APPL  1473411985
96    1539.0   24.0   APPL  1473411986
100   1682.0   25.0   APPL  1473411987
104   1534.0   26.0   APPL  1473411988
108   1628.0   27.0   APPL  1473411989
112   1582.0   28.0   APPL  1473411990
116   1540.0   29.0   APPL  1473411991
...      ...    ...    ...         ...
3869  1649.0  970.0   APPL  1473412932
3873  1696.0  971.0   APPL  1473412933
3877  1596.0  972.0   APPL  1473412934
3881  1664.0  973.0   APPL  1473412935
3885  1539.0  974.0   APPL  1473412936
3889  1654.0  975.0   APPL  1473412937
3893  1573.0  976.0   APPL  1473412938
3897  1695.0  977.0   APPL  1473412939
3901  1584.0  978.0   APPL  1473412940
3905  1607.0  979.0   APPL  1473412941
3909  1676.0  980.0   APPL  1473412942
3913  1665.0  981.0   APPL  1473412943
3917  1540.0  982.0   APPL  1473412944
3921  1546.0  983.0   APPL  1473412945
3925  1646.0  984.0   APPL  1473412946
3929  1648.0  985.0   APPL  1473412947
3933  1647.0  986.0   APPL  1473412948
3937  1602.0  987.0   APPL  1473412949
3941  1562.0  988.0   APPL  1473412950
3945  1629.0  989.0   APPL  1473412951
3949  1683.0  990.0   APPL  1473412952
3953  1649.0  991.0   APPL  1473412953
3957  1698.0  992.0   APPL  1473412954
3961  1566.0  993.0   APPL  1473412955
3965  1597.0  994.0   APPL  1473412956
3969  1641.0  995.0   APPL  1473412957
3973  1581.0  996.0   APPL  1473412958
3977  1674.0  997.0   APPL  1473412959
3981  1680.0  998.0   APPL  1473412960
3985  1509.0  999.0   APPL  1473412961

[1000 rows x 4 columns]

In [25]:
df.drop_duplicates(['Seqno'],keep='last')

       Price  Seqno Symbol        time
3     1623.0    0.0   APPL  1473411963
7     1649.0    1.0   APPL  1473411964
11    1642.0    2.0   APPL  1473411965
15    1636.0    3.0   APPL  1473411966
19    1669.0    4.0   APPL  1473411967
23    1639.0    5.0   APPL  1473411968
27    1611.0    6.0   APPL  1473411969
31    1660.0    7.0   APPL  1473411970
35    1657.0    8.0   APPL  1473411971
39    1509.0    9.0   APPL  1473411972
43    1514.0   10.0   APPL  1473411973
47    1676.0   11.0   APPL  1473411974
51    1596.0   12.0   APPL  1473411975
55    1527.0   13.0   APPL  1473411975
59    1643.0   14.0   APPL  1473411976
63    1632.0   15.0   APPL  1473411977
67    1595.0   16.0   APPL  1473411979
71    1565.0   17.0   APPL  1473411979
75    1521.0   18.0   APPL  1473411980
79    1501.0   19.0   APPL  1473411982
83    1579.0   20.0   APPL  1473411983
87    1511.0   21.0   APPL  1473411983
91    1513.0   22.0   APPL  1473411985
95    1687.0   23.0   APPL  1473411986
99    1539.0   24.0   APPL  1473411987
103   1682.0   25.0   APPL  1473411988
107   1534.0   26.0   APPL  1473411989
111   1628.0   27.0   APPL  1473411990
115   1582.0   28.0   APPL  1473411991
119   1540.0   29.0   APPL  1473411991
...      ...    ...    ...         ...
3872  1649.0  970.0   APPL  1473412933
3876  1696.0  971.0   APPL  1473412934
3880  1596.0  972.0   APPL  1473412935
3884  1664.0  973.0   APPL  1473412936
3888  1539.0  974.0   APPL  1473412937
3892  1654.0  975.0   APPL  1473412938
3896  1573.0  976.0   APPL  1473412939
3900  1695.0  977.0   APPL  1473412939
3904  1584.0  978.0   APPL  1473412941
3908  1607.0  979.0   APPL  1473412942
3912  1676.0  980.0   APPL  1473412943
3916  1665.0  981.0   APPL  1473412943
3920  1540.0  982.0   APPL  1473412945
3924  1546.0  983.0   APPL  1473412945
3928  1646.0  984.0   APPL  1473412946
3932  1648.0  985.0   APPL  1473412948
3936  1647.0  986.0   APPL  1473412949
3940  1602.0  987.0   APPL  1473412950
3944  1562.0  988.0   APPL  1473412951
3948  1629.0  989.0   APPL  1473412951
3952  1683.0  990.0   APPL  1473412953
3956  1649.0  991.0   APPL  1473412954
3960  1698.0  992.0   APPL  1473412955
3964  1566.0  993.0   APPL  1473412955
3968  1597.0  994.0   APPL  1473412957
3972  1641.0  995.0   APPL  1473412958
3976  1581.0  996.0   APPL  1473412959
3980  1674.0  997.0   APPL  1473412960
3984  1680.0  998.0   APPL  1473412961
3988  1509.0  999.0   APPL  1473412962

[1000 rows x 4 columns]