In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [18]:
# Create a datafram
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,3000]})

In [23]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  3000

In [27]:
df1['GDP']=Series([1000,2000,3000])

In [28]:
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  3000  3000

In [13]:
gdp_map = {"北京":1000,"上海":2000,"广州":1500}

In [21]:
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,3000]})

In [22]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  3000

In [19]:
df1['GDP'] = df1['城市'].map(gdp_map)

In [20]:
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  3000  1500

In [31]:
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,3000]},index=['A','B','C'])

In [32]:
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  3000

In [33]:
df1['GDP'] = Series([1000,2000,1500])

In [34]:
df1

   城市    人口  GDP
A  北京  1000  NaN
B  上海  2000  NaN
C  广州  3000  NaN

In [35]:
df1['GDP'] = Series([1000,2000,1500],index=['A','B','C'])

In [36]:
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  3000  1500

# Replace in Series

In [38]:
s1 = Series(np.arange(10))

In [39]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [40]:
s1.replace(1,np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [41]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [42]:
s1.replace({1:np.nan})

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [43]:
s1.replace([1,2,3],[10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64