In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series reindex

In [2]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [5]:
s1.reindex(index=['A','B','C','D','E'],fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [6]:
s2 = Series(['A','B','C'],index=[1,5,10])

In [7]:
s2

1     A
5     B
10    C
dtype: object

In [8]:
s2.reindex(index=range(15))

0     NaN
1       A
2     NaN
3     NaN
4     NaN
5       B
6     NaN
7     NaN
8     NaN
9     NaN
10      C
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [9]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# Reindex DataFrame

In [11]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]))

In [12]:
df1

          0         1         2         3         4
0  0.317067  0.824754  0.409944  0.244492  0.429112
1  0.411750  0.024078  0.843437  0.047832  0.111266
2  0.242890  0.017158  0.882085  0.119402  0.362245
3  0.406484  0.124770  0.053030  0.284554  0.261476
4  0.016049  0.074974  0.433633  0.682160  0.146151

In [15]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index=['A','B','D','E','F'],columns=['c1','c2','c3','c4','c5'])

In [16]:
df1

         c1        c2        c3        c4        c5
A  0.054748  0.190412  0.773895  0.289053  0.093132
B  0.729148  0.550731  0.231212  0.103929  0.879640
D  0.495077  0.639588  0.275703  0.151473  0.493351
E  0.353958  0.890636  0.121771  0.814204  0.350958
F  0.831311  0.917242  0.704714  0.294164  0.827214

In [17]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.054748  0.190412  0.773895  0.289053  0.093132
B  0.729148  0.550731  0.231212  0.103929  0.879640
C       NaN       NaN       NaN       NaN       NaN
D  0.495077  0.639588  0.275703  0.151473  0.493351
E  0.353958  0.890636  0.121771  0.814204  0.350958
F  0.831311  0.917242  0.704714  0.294164  0.827214

In [19]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.054748  0.190412  0.773895  0.289053  0.093132 NaN
B  0.729148  0.550731  0.231212  0.103929  0.879640 NaN
D  0.495077  0.639588  0.275703  0.151473  0.493351 NaN
E  0.353958  0.890636  0.121771  0.814204  0.350958 NaN
F  0.831311  0.917242  0.704714  0.294164  0.827214 NaN

In [20]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.054748  0.190412  0.773895  0.289053  0.093132 NaN
B  0.729148  0.550731  0.231212  0.103929  0.879640 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.495077  0.639588  0.275703  0.151473  0.493351 NaN
E  0.353958  0.890636  0.121771  0.814204  0.350958 NaN
F  0.831311  0.917242  0.704714  0.294164  0.827214 NaN

In [21]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [23]:
df1

         c1        c2        c3        c4        c5
A  0.054748  0.190412  0.773895  0.289053  0.093132
B  0.729148  0.550731  0.231212  0.103929  0.879640
D  0.495077  0.639588  0.275703  0.151473  0.493351
E  0.353958  0.890636  0.121771  0.814204  0.350958
F  0.831311  0.917242  0.704714  0.294164  0.827214

In [24]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A  0.054748  0.190412  0.773895  0.289053  0.093132
B  0.729148  0.550731  0.231212  0.103929  0.879640

In [25]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [26]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [27]:
df1

         c1        c2        c3        c4        c5
A  0.054748  0.190412  0.773895  0.289053  0.093132
B  0.729148  0.550731  0.231212  0.103929  0.879640
D  0.495077  0.639588  0.275703  0.151473  0.493351
E  0.353958  0.890636  0.121771  0.814204  0.350958
F  0.831311  0.917242  0.704714  0.294164  0.827214

In [28]:
df1.drop('A',axis=0)

         c1        c2        c3        c4        c5
B  0.729148  0.550731  0.231212  0.103929  0.879640
D  0.495077  0.639588  0.275703  0.151473  0.493351
E  0.353958  0.890636  0.121771  0.814204  0.350958
F  0.831311  0.917242  0.704714  0.294164  0.827214

In [29]:
df1.drop('c1',axis=1)

         c2        c3        c4        c5
A  0.190412  0.773895  0.289053  0.093132
B  0.550731  0.231212  0.103929  0.879640
D  0.639588  0.275703  0.151473  0.493351
E  0.890636  0.121771  0.814204  0.350958
F  0.917242  0.704714  0.294164  0.827214