In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series(np.random.randn(6),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [3]:
s1

1  a   -0.276497
   b   -0.117370
   c   -0.751977
2  a   -0.123101
   b    1.474308
   c   -0.545386
dtype: float64

In [4]:
s1['1']

a   -0.276497
b   -0.117370
c   -0.751977
dtype: float64

In [5]:
type(s1['1'])

pandas.core.series.Series

In [6]:
s1['1']['a']

-0.27649707287715947

In [7]:
s1[:,'a']

1   -0.276497
2   -0.123101
dtype: float64

In [8]:
type(s1[:,'a'])

pandas.core.series.Series

In [9]:
df1 = s1.unstack()

In [10]:
df1

          a         b         c
1 -0.276497 -0.117370 -0.751977
2 -0.123101  1.474308 -0.545386

In [14]:
df2 = DataFrame([s1['1'],s1['2']])

In [15]:
df2

          a         b         c
0 -0.276497 -0.117370 -0.751977
1 -0.123101  1.474308 -0.545386

In [16]:
s2 = df1.unstack()

In [17]:
s2

a  1   -0.276497
   2   -0.123101
b  1   -0.117370
   2    1.474308
c  1   -0.751977
   2   -0.545386
dtype: float64

In [18]:
s2 = df1.T.unstack()

In [19]:
s2

1  a   -0.276497
   b   -0.117370
   c   -0.751977
2  a   -0.123101
   b    1.474308
   c   -0.545386
dtype: float64

In [20]:
df = DataFrame(np.arange(16).reshape(4,4))

In [21]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [22]:
df = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]])

In [23]:
df

      0   1   2   3
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [24]:
df = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['BJ','BJ','SH','GZ'],['8','9','8','8']])

In [26]:
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [27]:
df['BJ']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [28]:
df['BJ'].unstack()

   8      9
   1   2  1   2
a  0   4  1   5
b  8  12  9  13

In [29]:
type(df['BJ'])

pandas.core.frame.DataFrame

In [36]:
df['BJ']['8']

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int32